
#loginform{
  height:80vh;
  margin-top: 25vh;
}

#chatbutton{
  margin-left: 0vw !important;
}

#fattobutton{
  margin-left: 0vw !important;
}
.chatcontainer {
                background-color: #ecedbe !important;
                overflow-x: hidden !important;
                height: 75vh;
}

.chatgenericcontainer {
                background-color: #ecedbe !important;
                overflow-x: hidden !important;
                height: 74vh;
}

.comunicationcontainer {
                background-color: #ecedbe !important;
                overflow-x: hidden !important;
                height: 89.8vh;
}

.m0{
  margin: 0 !important;
  padding: 0 !important;
}
.mr0{
  margin-right: 0 !important;
}
.ml0{
  margin-left: 0 !important;
}

.mlchat{
  margin-left: 1.3rem !important;
}



.nascosto{
  display: none !important;
}

.tempo{
  font-family: sans-serif !important;

.chatcontainer {
                background-color: #ecedbe !important;
                overflow-x: hidden !important;
                height: 75vh;
}

.comunicationcontainer {
                background-color: #ecedbe !important;
                overflow-x: hidden !important;
                height: 89.8vh;
}

.m0{
  margin: 0 !important;
  padding: 0 !important;
}
.mr0{
  margin-right: 0 !important;
}
.ml0{
  margin-left: 0 !important;
}

.mlchat{
  margin-left: 1.3rem !important;
}



.nascosto{
  display: none !important;
}

.tempo{
  font-family: sans-serif !important;
  font-size: 0.8rem !important;
}
